@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --overlay-ps: linear-gradient(rgba(87, 84, 236, 0.7),
            rgba(87, 84, 236, 0.7));
    --overlay-xbox: linear-gradient(rgba(28, 122, 28, 0.6),
            rgba(28, 122, 28, 0.6));
    --hover-width: 75%;
    --other-width: 25%;
    --ps-image: url('https://raw.githubusercontent.com/bradtraversy/50projects50days/master/split-landing-page/ps.jpg');
    --xbox-image: url('https://raw.githubusercontent.com/bradtraversy/50projects50days/master/split-landing-page/xbox.jpg');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'sans-serif';
}

.container {
    display: flex;
}

.container>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    transition: all 0.8s ease-in-out;
}

.split.left {
    background: var(--overlay-ps), var(--ps-image);
    background-size: cover;
    height: 100vh;
    width: 50%;
    white-space: nowrap;
}

.split.right {
    background-image: var(--overlay-xbox), var(--xbox-image);
    background-size: cover;
    height: 100vh;
    width: 50%;
    white-space: nowrap;
}

.split.left:hover,
.split.right:hover {
    flex-grow: 2;
}

h1 {
    font-size: 3.5rem;
    color: white;
}

.btn {
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 16px;
    font-size: 18px;
    width: 8rem;
    text-align: center;
    margin: 3rem;
}

.left .btn:hover {
    background-color: rgba(87, 84, 236, 1);
    border-color: rgba(87, 84, 236, 1);
}

.right .btn:hover {
    background-color: rgba(28, 122, 28, 0.8);
    border-color: rgba(28, 122, 28, 0.8);
}

@media (orientation: portrait) {
    .container {
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }

    .split.right, .split.left {
        width: 100%;
    }

    h1,
    .btn {
        transform: scale(.6);
    }
}